@font-face {
  src: url('../fonts/MarineCorpsPersonalUsed-ax9Mo.otf');
  font-family: 'MarineCorpsPersonalUsed';
}

@font-face {
  src: url('../fonts/AmericanCaptain-MdEY.otf');
  font-family: 'AmericanCaptain';
}
