#login__page {
  background-image: url('../assets/main_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#login__page > #login__page--wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
  width: 100vw;
}

#login__page > #login__page--wrapper > #login__page--wrapper--section {
  color: white;
  font-family: 'AmericanCaptain';
}

#login__page > #login__page--wrapper > #login__page--wrapper--section > #login__page--title {
  font-family: 'MarineCorpsPersonalUsed';
  text-align: center;
  font-size: 5rem;
}

#login__page > #login__page--wrapper > #login__page--wrapper--section > #login__page--form {
  margin-top: 2rem;
  font-size: 1.25rem;
}

#login__page > #login__page--wrapper > #login__page--wrapper--section > #login__page--form > #login__page--button,
#login__page > #login__page--wrapper > #login__page--wrapper--section > #login__page--form > #login__page--register {
  margin-top: 1rem;
  font-size: 1.5rem;
}
