#main__page {
  background-image: url('../assets/main_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#main__page > #main__page--wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
  width: 100vw;
}

#main__page > #main__page--wrapper > #main__page--wrapper--section {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'MarineCorpsPersonalUsed';
  border: 5px solid white;
  text-align: center;
  padding: 3rem 7rem;
  color: white;
}

#main__page > #main__page--wrapper > #main__page--wrapper--section > #main__page--title {
  font-size: 4rem;
}

#main__page > #main__page--wrapper > #main__page--play--button {
  font-family: 'MarineCorpsPersonalUsed';
  margin-top: 2rem;
  border-radius: 0;
  font-size: 2rem;
}
